<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0fqeV3f8ACxDgxdVrDEnLYTMm3anXTPw"></script>

<!-- Navigation -->
<%= render :partial => 'shared/nav' %>
  <div class="container-fluid album text-muted" style="margin-top: 0px;">
  <% if @dishes.present? %>
    <div class="col-md-12">
      <ul class="filter">
        <li class="" style="display: none;">
          <div class="select_box"> filter</div>
        </li>
        <li>
          <div class="select_box sort_by">
            <label>
              <select id="filter" class="sort">
                <option selected="" value="">Sort by  </option>
                <option value="price">PRICE</option>
                   <option value="ratings">RATING</option>
              </select>
            </label>
          </div>
        </li>
        <li class="Allratings">
          <div class="select_box rating_by">
            <label>
              <select id="rating_filter" class="sort_rating">
                <option selected="" value="">All Ratings </option>
                <option value="3">3+</option>
                <option value="4">4+</option>
                <option value="5">5+</option>
              </select>
            </label>
          </div>
        </li>
        <li>
          <div class="select_box multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
              <label>
              <select>
                <option  >All Dietary</option>
              </select>
             </label>
              <div class="overSelect"></div>
            </div>
            <div id="checkboxes" >
              <label for="veg" class="category" >
                <input type="checkbox" id="veg" value="1" class="sort_dietary">Veg</label>
              <label for="non-veg" class="category">
                <input type="checkbox" id="non-veg" value="2" class="sort_dietary">Non-veg</label>
                 <label for="drinks" class="category">
                <input type="checkbox" id="drinks" value="3" class="sort_dietary">Drinks</label>
                <label for="desserts" class="category">
                <input type="checkbox" id="desserts" value="4" class="sort_dietary">Desserts</label>
            </div>
          </div>
        </li>
      </ul> 
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="search_dishes col-lg-12 col-md-12" style="position: absolute;top: 145px;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div id = "dishes" style="">
            <%= render :partial => 'home/search_dishes' %>  
          </div>
        </div>

        <div id='map_canvas'class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="">
          
        </div>
      </div>

      <div id="paginate_load">
          <%= will_paginate @dishes, class: 'pagination pagination-sm' %>
      </div> 
    </div>
  </div>
<% else %>

  <div class="no_data" >
      No results found
  </div>
  
<% end %>

   
<script type="text/javascript">
  $(document).ready(function () {
  // Onload google maps
  google.maps.event.addDomListener(window, 'load', initMap);
  // Home page scroll loading
   if ($('.pagination').length) {
    $('#dishes').scroll(function() {
      var url = $('.pagination .next_page').attr('href');
      if (url && $('#dishes').scrollTop() > $(document).height() - $('#dishes').height() - 100) {
        $('.pagination').text("Please Wait...");
        return $.getScript(url);
      }
    });
    return $('#dishes').scroll();
  }

});
</script>



<style type="text/css">
  #map_canvas{
    height: 500px;width: 635px;
  }
  #dishes{
    float: left;overflow-y:auto; height: 500px;clear: both
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.filter{
  display: block;
}

.filter li{
  display: inline-block;
}
.multiselect{
  position: static;
  margin-left: 30px;

}

#checkboxes{
      position: absolute;
    z-index: 999;
    width: 200px;
}

#map_canvas{
  width: 100%;
  margin-top: 50px;
}
.search_dishes{
  margin-top: 70px;
}
.filter_label{
  display: none;
  width: 0px;
}
 .navbar-nav .dropdown-menu {
    position: absolute;
}
.nav-item{
    padding-right: 7px;
        display: inherit;

  }

  .cart-badge--desktop1{
    position: static;
  }

  .cart-badge--desktop{
    position: static;
  } 
  
}
</style>








