<form name="myform" id="myForm" style="display: none;">
  Select Country: <select name="state" id="countySel" size="1">
  <option value="" selected="selected">Select Country</option>
  </select>
  <input type="submit">
</form>

<style type="text/css">
  .error{
    border:1px solid red;
  }
</style>
