// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*user sign in page*/
  .user_form {
    margin: 0 auto;
    width: 450px;
    background-color: white;
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .user_form label{
    text-align: right;
    float: left;
  }

  .user_form input{
    margin-right: 180px;
  }
  #user_remember_me{  
    margin-right:0px;
  }
  .forgot_pwd{
    padding-left: 90px;
  }

  .col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
  }

  /*user orders show*/
  .account{ 
    padding: 70px;
    text-align: center;
  }
  .order_img1{
    width: 50px;
  }
  .order_w{
    width: 26px;
  }

  /*password forgot page*/
  .forgot_pwd_new{
    font-size: 25px;
    font-weight: 700;
    padding-top:25px;
  }

  .forgot_txt_new{
    padding-left: 35px;
    padding-right: 35px;
    font-size: 14px;
    font-weight: 600;
  }

  .col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
  }

  #form_email{
    margin-left: 23px;
  }

  #sign_in_from{
    margin-left: 400px;
  }

  .form1 {
    margin: 0 auto;
    width: 470px;
    background-color: white;
    padding-left: 0px;
  }

  .form1 label {
    display: inline-block;
    text-align: right;
     
  }

  .modal_form{
    margin-top: 0px;
  }

  .homepage_dish{
    height: 100%;
    width: 50%;
    position:fixed;
  }

  .login{
    padding-right: 20px;
    color:#0066ff;
    font-size: 20.3px;
    line-height: 1.44359;
    border: 0px;
    font-weight:700;
  }


  .signup{
    padding-right: 100px;
    color:#0066ff;
    font-size: 20.3px;
    line-height: 1.44359;
    border: 0px;
    font-weight:700;
  }

  .top-left {
    position: absolute;
    top:450px;
    left:10px;
    color: #f79b9b;
    font-size: 50px;
    font-weight: 900;
  }

  .top-left:hover{
    color: #f79b9b;
  }

  .bottom_img{
    width: 300px;
    height: 300px;
  }
  .main_header{
    font-weight: 800;
    font-size:40px;
    color: black;
  }


  .u-dimension-2 {
    box-shadow: 0 0 0 1px rgba(67,41,163,.1), 0 1px 8px 0 rgba(67,41,163,.1);
  }

  /*Edit password page*/
  #error_explanation h2{
    display: none;
  }


  #error_explanation li{
    color: red;
  }







