<!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
    Admin panel

      </div>
      <div class="list-group list-group-flush">
        <a href="/admin/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="/admin/restaurants" class="list-group-item list-group-item-action bg-light">Restaurants</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Orders</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Users</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Dishes</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Categories</a>
      </div>
    </div>
    <!-- Sidebar -->